[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
pandas = "*"
ipykernel = "*"
jupyter = "*"
sklearn = "*"
scipy = "*"
keras = "*"
tensorflow-gpu = "*"


[dev-packages]

